@font-face {
  font-family: Berlin;
  src: url('/fonts/galey-bold.ttf');
  font-weight: 1000;
}


#canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#scoreBoard{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  font-family: 'Berlin';
  font-size: 20px;
  padding: 0.7em 0.7em;
  padding-left: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  color: white;
  border: 2px solid #1e1e2e;
  background-color: #1e1e2e;
}

#score {
  font-family: 'Berlin';
  font-size: 40px;
  padding: 0.5em 1em;
  padding-left: 0.9em;
  padding-bottom: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  color: white;

}

#bar {
  content: "";
  width: 75%;
  height: 0.15em;
  margin-bottom: 1em;
  background-color: #fff;
  z-index: 11;
  color: #fff;
}

#messageBar{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: 'Berlin';
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  color: white;
  background-color: #1e1e2e;
  transition: 0.5s linear;
  opacity: 0;
  border: 5px solid #1e1e2e;
}
#messageBarText{
  font-family: 'Berlin';
  font-size: 30px;
  padding: 0.7em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  color: white;
  transition: 0.5s linear;
  opacity: inherit;
}

#buttonSubmit {
  font-family: 'Berlin';
  font-size: 20px;
  background: #1e1e2e;
  color: white;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  position: fixed;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
} 

#loadBlocker{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #1e1e2e;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Berlin';
  font-size: 20px;
  color: white;
  transition: 0.5s linear;
  opacity: 1;
  z-index: 15;
  pointer-events: all;
}

#buttonSubmit #textSubmit {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

#buttonSubmit #icon {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

#buttonSubmit:hover {
  background: #000;
}

#buttonSubmit:hover #buttonSvgWrapper{
  transform: scale(1);
  transition: 0.5s linear;
}

#buttonSubmit:hover #icon {
  transform: translateX(2.5rem) scale(1.1);
  fill: #fff;
}

#buttonSubmit:hover #textSubmit {
  font-family: 'Berlin';
  letter-spacing: 3px;
  opacity: 0;
  transition: 0.5s linear;
}

#buttonSubmit:active {
  transform: scale(0.5);
  position: fixed;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
